@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #6edae6;
  --white-color: #fff;
  --black-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Common Styles */
/* Section 1 */
.section-1{
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
  position: relative;
}
.section-2 {
    margin:4rem 20rem;


}
.section-2 h1,.section-3i h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
  margin:0 auto;
}
.section-2 p{
  margin:1rem 0;
  display: block;
  padding: 0 20px;
  text-align: justify;
  color: black;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

/* Banner */
.section-1-banner {
  flex-direction: column;
}

.section-1-banner h1 {
  font-size: 13rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.section-1-banner p {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 6rem 0 4rem 0;
}

.section-1-banner span {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.section-1-banner button {
  padding: 2rem 4rem;
  font-size: 2rem;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-weight: 400;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  transition: clip-path 0.5s;
}

.section-1-banner button:hover {
  clip-path: polygon(
    40% 15%,
    77% 15%,
    100% 10%,
    100% 90%,
    75% 85%,
    40% 85%,
    30% 100%,
    0 50%,
    0 50%,
    30% 0
  );
}
/* End of Banner */

/* Slideshow */



.nav-bar{
    height: 70px;
    background: white;
}

.brand{
    float: left;
    position: absolute;
    padding-left: 20px;
    line-height: 70px;
    font-size: 1.5em;
}

.brand img{
  vertical-align: middle;
  width: 10rem;
  height: 4rem;
}

.nav-container{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: white;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

nav ul li a:hover{
    text-decoration: underline;
    color: black;
}

nav ul li a:not(:only-child):after{
    content: '▼';
    padding-left: 5px;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a{
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown{
    position: absolute;
    display: none;
    z-index: 1;
}

.nav-mobile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;

}

#nav-toggle{
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
  background-color:black;
  color:black;
    position: absolute;
    display: block;
    content: '';

    height: 5px;
    width: 35px;
    transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
    top: -10px;
}

#nav-toggle span::after{
    bottom: -10px;
}

#nav-toggle.active span{
    background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
    top: 0;
}

#nav-toggle.active span::before{
    transform: rotate(45deg);
}

#nav-toggle.active span::after{
    transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {

    .nav-mobile{
        display: block;
    }

    nav{
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul{
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a{
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;
    }


    nav ul li ul li a{
        padding-left: 30%;
    }

    .nav-dropdown{
        position: static;
    }
}

@media screen and (min-width: 799px){
    .nav-list{
        display: block !important;
    }
}


@media (max-width: 1100px) {
  html {
    font-size: 40%;
  }



  .section-1-banner h1 {
    font-size: 8rem;
  }

  .section-1-banner p {
    font-size: 3rem;
  }

}




@media (max-width: 700px) {

  .section-2 {
      margin:4rem 4rem;
  }
  .section-1-banner {
    position: absolute;
  }

  .section-1-banner h1 {
    position: relative;
    left: -5rem;
  }

  .section-1-banner h1::first-letter {
    visibility: hidden;
    opacity: 0;
  }

  .section-1-banner button:hover {
    clip-path: polygon(
      50% 0%,
      81% 5%,
      100% 0,
      100% 100%,
      80% 95%,
      50% 100%,
      20% 95%,
      0 100%,
      0 0,
      23% 5%
    );
  }

}


@media (max-width: 450px) {
  html {
    font-size: 35%;
  }


  .section-1-banner p {
    text-align: center;
  }

}
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

.page_title {
	font-weight: 300;
	line-height: 120%;
	margin: 20px 0;
	text-shadow: 0 1px 5px rgba(0,0,0,.8);
	text-transform: uppercase;
}

/* PEN STYLES ========== */
.row {
	margin: 0;
}

.test_box {
	padding: 0;
}
.test_box .inner {
	background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #fff;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: black;
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.section-3i .test_title {
	display: block;
	font-weight: 700;
  text-align: center;
  font-style: italic;
	width: 100%;

}
.test_link {
	border: 2px solid #fff;
	display: inline-block;
	font-size: .8em;
	font-weight: 700;
	letter-spacing: .1em;
	margin: 0 auto;
	padding: 10px 30px;
	text-transform: uppercase;
}

.box-01 .inner {
	background-image: url('1.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-02 .inner {
	background-image: url('2.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url('3.jpeg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.col-lg-4{
  width: 10px;height:50px;
  border: solid 2px;
  border-radius: 10px;

}
/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Baloo Da 2", cursive;
}



/* Section 3 */
.section-3 {
  width: 100%;
  padding: 5rem 0;
background: linear-gradient( to right, rgb(129 3 3 / 90%), rgb(9 87 153 / 80%), rgb(4 54 124 / 90%) );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3-heading {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.features {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
  text-align: center;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.feature-heading {
  width: max-content;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto 1rem auto;
}

.feature-paragraph {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  padding:2rem 0 10rem 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 5rem;
}

.section-4-content {
  display: flex;
}

.section-4-img-wrapper {
  width: 50rem;
}

.section-4-img-wrapper img {
  width: 100%;
  opacity: 0.8;
}

.section-4-list {
  width: 55%;
  margin-top: 2rem;
}

.section-4-list-item {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.number {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #555;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4-list-item a {
  color: #036bb1;
  font-weight: bold;
}
/* End of Section 4 */

/* Responsive */
@media (max-width: 1500px) {
  .nav-dropdown {
    padding: 0 25rem;
  }

  .nav-dropdown-item {
    margin: 2rem 6rem;
  }

  .features {
    width: 80%;
  }

  .feature {
    padding: 0 3rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 55%;
  }


  .services {
    width: 90%;
  }



  .section-4-content {
    width: 80%;
  }

  .section-4-img-wrapper {
    width: 40%;
    margin-right: 6rem;
  }


}





@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }



  .section-4-content {
    flex-direction: column;
    align-items: center;
  }

  .section-4-img-wrapper {
    margin: auto;
  }

  .section-4-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}

@media (max-width: 800px) {
  html {
    font-size: 45%;
  }


}

@media (max-width: 550px) {

  .section-3-heading {
    font-size: 4rem;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 80%;
  }

  .section-4-heading {
    font-size: 4rem;
  }

  .section-4-content {
    width: 100%;
    padding: 0 3rem;
  }

  .section-4-img-wrapper {
    display: none;
  }

  .section-4-list {
    align-items: flex-start;
  }

  .footer-top {
    width: 90%;
  }

}

@media (max-width: 400px) {
  html {
    font-size: 40%;
  }



  .number {
    min-width: 3.5rem;
  }
}
/* End of Responsive */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 300;
}

.display .spinner-container {
  opacity: 0;
  visibility: hidden;
}

.circles {
  width: 8rem;
  height: 8rem;
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: displayCircles 4s;
}

@keyframes displayCircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  25% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.circles div {
  animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 4rem 4rem;
}

.circles div::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #c29525;
  margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1) {
  animation-delay: -0.036s;
}

.circles div:nth-child(1)::after {
  top: 6.3rem;
  left: 6.3rem;
}

.circles div:nth-child(2) {
  animation-delay: -0.072s;
}

.circles div:nth-child(2)::after {
  top: 6.8rem;
  left: 5.6rem;
}

.circles div:nth-child(3) {
  animation-delay: -0.108s;
}

.circles div:nth-child(3)::after {
  top: 7.1rem;
  left: 4.8rem;
}

.circles div:nth-child(4) {
  animation-delay: -0.144s;
}

.circles div:nth-child(4)::after {
  top: 7.2rem;
  left: 4rem;
}

.circles div:nth-child(5) {
  animation-delay: -0.18s;
}

.circles div:nth-child(5)::after {
  top: 7.1rem;
  left: 3.2rem;
}

.circles div:nth-child(6) {
  animation-delay: -0.216s;
}

.circles div:nth-child(6)::after {
  top: 6.8rem;
  left: 2.4rem;
}

.circles div:nth-child(7) {
  animation-delay: -0.252s;
}

.circles div:nth-child(7)::after {
  top: 6.3rem;
  left: 1.7rem;
}

.circles div:nth-child(8) {
  animation-delay: -0.288s;
}

.circles div:nth-child(8)::after {
  top: 5.6rem;
  left: 1.2rem;
}

@keyframes circles {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}





.scroll-btn {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");


html {

  scroll-behavior: smooth;
}
/* Section 4 */
.section-4 {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  width: 100%;
  height: 40%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;


  perspective: 100rem;
}

.form-img {
  width: 55rem;
  background-color: rgba(50, 231, 255, 0.8);
  padding: 5rem;
  opacity: 0.8;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: 0.5rem;
  transform: rotateY(20deg);
  transition: all 0.5s;
}

.form-img:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form {
  width: 45rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all 0.5s;
}

.contact-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
}

.contact-form textarea {
  max-height: 15rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}

.contact-form input[type="submit"] {
  background-color: rgba(50, 231, 255, 0.8);
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
  background-color: #32e7ff;
}

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #444;
  margin-top: 5rem;
}
/* End of Section 4 */
/* Responsive */
@media (max-width: 1400px) {

  .form-container {
    height: 60%;
  }

  .form-img {
    display: none;
  }

  .contact-form {
    transform: translateY(0);
  }

  .contact-form:hover {
    transform: translateY(-1rem);
  }

}







@media (max-width: 550px) {


  .section-4 {
    height: auto;
  }

  .form-container {
    background-color: transparent;
    box-shadow: none;
  }

  .contact-form {
    box-shadow: 1rem 1rem 2rem #aaa;
  }

  .contact-form:hover {
    box-shadow: 2rem 2rem 3rem #aaa;
  }

}
/* End of Responsive */
@keyframes scroll {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(calc(-250px * 7));
	}
}
 .slider {
	 background: white;
	 box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	 height: 100px;
	 margin: auto;
	 overflow: hidden;
	 position: relative;
	 width: 100%;
}
 .slider::before, .slider::after {
	 background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	 content: "";
	 height: 100px;
	 position: absolute;
	 width: 200px;
	 z-index: 2;
}
 .slider::after {
	 right: 0;
	 top: 0;
	 transform: rotateZ(180deg);
}
 .slider::before {
	 left: 0;
	 top: 0;
}
 .slider .slide-track {
	 animation: scroll 40s linear infinite;
	 display: flex;
	 width: calc(250px * 14);
}
 .slider .slide {
	 height: 100px;
	 width: 250px;
}
